---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"rates":{"MXN":21.96,"AUD":1.5964,"HKD":8.8092,"RON":4.7448,"HRK":7.4122,"CHF":1.1324,"IDR":16068.78,"CAD":1.5099,"USD":1.1222,"ZAR":16.3022,"JPY":124.72,"BRL":4.3605,"HUF":315.95,"CZK":25.641,"NOK":9.8733,"INR":78.733,"PLN":4.3002,"ISK":136.4,"PHP":58.706,"SEK":10.6316,"ILS":4.0721,"GBP":0.85905,"SGD":1.5257,"CNY":7.5451,"TRY":6.1287,"MYR":4.5916,"RUB":74.5885,"NZD":1.653,"KRW":1275.6,"THB":35.675,"BGN":1.9558,"DKK":7.46},"base":"EUR","date":"2019-03-08"}'
  recorded_at: Mon, 11 Mar 2019 08:05:36 GMT
recorded_with: VCR 3.0.3
